body {
  font-family:Comic Sans MS;
  background-color: #0b0b0b;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}


header {
  background: linear-gradient(90deg, #111, #1a1a1a, #111);
  color:  green;
  text-align: center;
  padding: 25px;
  box-shadow: 0 0 15px green;
  border-bottom: 2px solid green;
}

header img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px green;
}

header h1 {
  font-size: 32px;
  margin: 5px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}


nav {
  text-align: center;
  background-color: #1a1a1a;
  padding: 12px 0;
  border-bottom: 1px solid green;
}

nav a {
  color: green;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: white;
  text-shadow: 0 0 10px  green;
}


main {
  padding: 25px;
  text-align: center;
}

h2 {
  color:  green;
  border-bottom: 1px solid #333;
  display: inline-block;
  padding-bottom: 5px;
}

section {
  background-color: #141414;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.1);
  transition: box-shadow 0.3s;
}

section:hover {
  box-shadow: 0 0 20px green;
}

section img {
  width: 60%;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 5px green;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #1a1a1a;
  margin: 8px auto;
  padding: 10px;
  border-radius: 8px;
  max-width: 700px;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: #222;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #999;
  border-top: 2px solid green;
}

footer p {
  margin: 5px 0;
}
